<h1>LOGIN</h1>

<a routerLink="/vacances">Go to Vacances</a>

<hr>

<form [formGroup]="credentials">
    <div>
      <label for="email">User:</label>
      <input type="email" id="email" formControlName="email">
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
    </div>
  
  
    <button type="button" (click)="login()">Login</button>
    <button type="button" (click)="register()">Register</button>

</form>